aiofiles==24.1.0
fastapi==0.115.11
langchain==0.3.20
langchain_milvus==0.1.8
langchain_openai==0.3.8
openai==1.66.3
pandas==2.2.3
pydantic_settings==2.8.1
Requests==2.32.3
uvicorn==0.34.0
python-multipart==0.0.20