/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    flex-direction: column;
    margin: 0;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  h2 {
    color: var(--primary-color);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
    background: var(--hero-img);
  }
  
  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 200px;
    background-color: var(--primary-color-dark);
    padding: 5px;
    border-radius: 20px;
  }

  .dashboard-container {
    flex: 1;
  }
  
  footer {
    background: #1a1a1a;
    color: #888;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;  /* Helps with responsiveness */
  }
  
  .footer-buttons {
    display: flex;
    gap: 10px; /* space between buttons */
  }
  
  .footer-text {
    margin: 0;
    text-align: center;
    flex: 1;
    /* You can also use padding or margin adjustments to fine-tune the layout */
  }
  